* {
  --headers-font: 26px;
  --seconds-font: 18px;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Helvetica;
}

/* Preloader */
.welcome-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.95);
}
.content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fly-in-text li {
  display: inline-block;
  margin-right: 10px;
  font-size: 5em;
  color: #fff;
  opacity: 1;
  transition: all 3s ease;
}
.fly-in-text:nth-child(10) {
  margin-right: 0;
}
.content-hidden .fly-in-text li {
  opacity: 0;
}
.content-hidden .fly-in-text li:nth-child(1) {
  transform: translate3d(-150px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(2) {
  transform: translate3d(-120px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(3) {
  transform: translate3d(-90px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(4) {
  transform: translate3d(-60px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(5) {
  transform: translate3d(-30px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(6) {
  transform: translate3d(0px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(7) {
  transform: translate3d(30px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(8) {
  transform: translate3d(60px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(9) {
  transform: translate3d(90px, 0, 0);
}
.content-hidden .fly-in-text li:nth-child(10) {
  transform: translate3d(120px, 0, 0);
}

@media (max-width: 900px) {
  .fly-in-text li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
  }
  .content-wrap {
    width: 100%;
    text-align: center;
  }
}
/* ---------*/

/* nav style */

/* .overlay:before {
  animation: grain 1s steps(10) infinite;
  background-image: url(../img/nav-img/nav-img1.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.48;
  position: fixed;
  top: -110%;
  width: 300%;
} */

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, -10%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 10%);
  }

  70% {
    transform: translate(0, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.menu-btn {
  position: fixed;
  margin: 1.2em;
  right: 0;
  z-index: 100;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.menu-btn ion-icon {
  padding: 0.4em;
  color: #fff;
  border: 1px solid #000;
  background: #000;
  border-radius: 50%;
  font-size: 2.2em;
}
.row,
.col-lg {
  margin: 0;
  padding: 0;
}
.col-lg {
  height: 100vh;
  width: 100%;
}
.col-lg.overlay {
  background: #000;
  position: absolute;
  top: -100vh;
  z-index: 3;
}
.menu .nav > ul {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bolder;
  z-index: 1;
}
.nav > ul li {
  display: inline-block;
}
.nav > ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
}
.nav > ul li:not(:last-child) {
  margin-right: 120px;
}
.nav > ul li:hover::before {
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -30px;
  background: url(../img/nav-img/nav-img1.jpg) no-repeat 50% 50%;
  background-size: cover;
  transition: 0.3s;
  animation: fade-in 0.3s ease-in-out;
}
.nav > ul li:nth-child(2):hover::before {
  top: -180px;
  left: -30px;
  background: url(../img/nav-img/nav-img2.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.nav > ul li:nth-child(3):hover::before {
  top: -180px;
  left: -30px;
  background: url(../img/nav-img/nav-img3.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.nav > ul li:nth-child(4):hover::before {
  top: -180px;
  left: -30px;
  background: url(../img/nav-img/nav-img4.jpg) no-repeat 50% 50%;
  background-size: cover;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    top: -160px;
  }
  50% {
    opacity: 1;
    top: -180px;
  }
  100% {
    opacity: 1;
    top: -180px;
  }
}

@media (max-width: 900px) {
  .nav > ul li {
    text-align: center;
    display: block;
    margin: 0;
    padding: 20px 0;
  }
  .nav > ul li:hover::before {
    width: 0;
  }
  .nav > ul li:not(:last-child) {
    margin-right: 0;
  }
}

/* -------- */
.left-col,
.right-col {
  position: absolute;
  width: 50%;
  height: 100vh;
}

.left-col {
  background: #d45b48;
}

.right-col {
  left: 50%;
}

.upper {
  position: absolute;

  width: 100%;
  height: 50vh;
  background: #4f4538;
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 3s;
}

.bottom {
  position: absolute;
  top: 50%;
  height: 50vh;
  width: 100%;
  background: url(../img/img1.jpg) no-repeat 50% 25%;
  background-size: cover;
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 4.2s;
}

@media (max-width: 900px) {
  .left-col {
    width: 100%;
  }

  .right-col {
    top: 100%;
    left: 0%;
    width: 100%;
  }
}

.logo {
  display: flex;
  width: 100%;

  justify-content: space-between;
  font-family: Poppins;
  color: rgb(58, 47, 47);
  position: absolute;
  padding: 1.4em;
  font-weight: bolder;

  font-size: 34px;
  z-index: 1;
}
/* @media (max-width: 900px) {
  .logo span:nth-child(2) {
  } */
/* } */

.year {
  position: absolute;
  color: #000;
  font-family: Poppins;
  bottom: 8%;
  font-weight: bolder;
  transform: rotate(-90deg);
  left: 0%;
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 50%;
  background: url(../img/img4.jpg) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 2.6s;
}

.data {
  position: absolute;
  top: 36%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: #cdbba5;
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-left: 10%;
}

#name {
  font-weight: bolder;
}

#artist {
  font-size: var(--seconds-font);
}

.play,
.next ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.6;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2em;
}

.about {
  position: absolute;
  top: 40%;
  left: 26%;
  transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  .about {
    left: 50%;
  }
}

.about h1 {
  font-weight: bolder;
  color: #6f6457;
  font-family: Poppins;
  text-transform: uppercase;
}

.about p {
  color: #bcac98;
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: var(--seconds-font);
  cursor: pointer;
}

.about span:hover {
  text-decoration: underline;
}

.media {
  margin-top: 40px;
}

.media p {
  color: #6f6457;
  margin-bottom: 0;
}

.media ul {
  position: absolute;
  list-style: none;
  left: -17%;
}

.media ul li {
  display: inline-block;
  color: #bcac98;
  padding-right: 10px;
}

.next {
  position: absolute;
  top: 24%;
  left: 16%;
}

.data2 {
  position: absolute;
  top: 12%;
  left: 28%;
  color: #cdbba5;
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.more {
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 15px;
  color: #f4c8ad;
  text-transform: uppercase;
  font-family: Poppins;
  text-decoration: underline;
}

.block-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 50%;
}

.block-cover::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #4f4538;
  animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 2s;
}

@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.upper-block {
  position: absolute;
  width: 100%;
  height: 50vh;
}

.upper-block::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #9a8b78;
  animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 2.4s;
}

.block-bottom {
  position: absolute;
  top: 50%;
  height: 50vh;
  width: 100%;
}

.block-bottom::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #000;
  animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 3.6s;
}
/*  photos category sectio */
.cat-photo {
  position: absolute;

  top: 100vh;
  background-color: #0f0f0f;
  color: #505050;
}
.cat-item {
  display: block;
  margin: 0 0 24px 0;
  padding: 12px;
  background-color: #1e1e1e;
  transition: all 0.2s;
}
.cat-item:hover {
  transform: translateY(-6px);
  transition: all 0.2s;
}
.cat-item > img {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
}

.cat-item p {
  text-align: center;
  color: gray;
  font-weight: 300;
  margin-top: 10px;
}
.cat-item h2 {
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* .this class is adding in JS */
.cat-column {
  display: block;
  position: relative;
  width: 33.33333%;
  float: left;
  padding: 0 12px;
}
@media (max-width: 900px) {
  .cat-column {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .cat-column {
    width: auto;
    float: none;
  }
}
/* --------------------------- */

/* main section */

/* ------------ */
